aiohttp==3.5.4
async-timeout==3.0.1
attrs==19.3.0
chardet==3.0.4
configobj==5.0.6
discord.py==1.2.5
idna==2.8
module-wrapper==0.2.4
mpmath==1.1.0
multidict==4.7.3
poetry-version==0.1.5
python-dotenv==0.10.3
six==1.15.0
sympy==1.6
tomlkit==0.5.11
websockets==6.0
yarl==1.4.2
